# 数据文件
pic/
*.jpg
!map/MazonAcademy/MazonAcademy.jpg
!map/Lakeview18/Lakeview18.jpg
!map/BodegaBay/BodegaBay.jpg
*.jpeg
*.png
!map/MazonAcademy/MazonAcademy_reachable.png
!map/Lakeview18/Lakeview18_reachable.png
!map/BodegaBay/BodegaBay_reachable.png
cropped_*/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Label Studio
label_studio/images/
label_studio/yolo_labels/

# IDE
.vscode/
.idea/

# 模型
*.pt
!AImaneuver/runs/detect/deadmaze_combat/weights/best.pt
!FastSAM-s.pt
*.pth

# 临时
*.json
!label_studio/*.json
!map/MazonAcademy/MazonAcademy_campfire.json
!map/MazonAcademy/MazonAcademy_doors.json
!map/Lakeview18/Lakeview18_campfire.json
!map/Lakeview18/Lakeview18_doors.json
!map/BodegaBay/BodegaBay_campfire.json
!map/BodegaBay/BodegaBay_doors.json
!navigator_config.json
!weapon_roi.json
!AImaneuver/*.json
!AImaneuver/*.json
!skill_cooldowns.json

# 配置文件（本地）
map_stitcher_crop.json
temp_snapshot.jpg

# 工具 (仅保留变速版exe供下载)
tools/*
!tools/DeadMazeSteam加速版.exe
